

div {
  border: 1px solid black;
}

body {
  padding: 10px;
}

/* Header Content Styling */
#header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: MediumAquamarine;

}

#header a{
  color: black;
}

.logo {
    margin: 10px;
}

nav span {
  display: inline;
  padding: 6px;
  margin: 0 3px;
}

/* Main Content Styling */

/* Column Div Styling */
#content {
  display: inline-flex;
}

.column {
  margin: 10px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* Content Text Styling */
.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.imgbanner {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: mediumAquamarine;
}

.location {
  text-transform: uppercase;
}

/* Image Banners */

#main {
  font-size: 40px;
  background-image: url(./images/img-story-main.png);
}

#earth {
  background-image: url(./images/img-story-main.png);
}

#memory {
  background-image: url(./images/img-story-3-memory.png);
}

#cats {
  background-image: url(./images/img-story-1-cats.png);
}

#cookie {
  background-image: url(./images/img-news-bite.png);
}
